@import "../../utils/variables.scss";

@mixin paginationContainer {
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  float: center;
  background: white;
  margin: 30px auto;
  padding: 5px 8px;
  border-radius: 15px;

  .paginationButton {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    margin: 0px 15px;
    border-radius: 5px;
    font-size: $defaultFont-size;
    &:hover {
      cursor: pointer;
    }
  }
  .pageNumber {
    display: flex;
    padding: 0px 10px;
    font-size: large;
    cursor: pointer;
  }
  .ellipses {
    padding: 0px 5px;
  }
  .active {
    font-weight: 500;
    text-decoration: underline;
  }
}

.lightPaginationContainer {
  @include paginationContainer;
  .paginationButton {
    background-color: white;
  }
}

.darkPaginationContainer {
  @include paginationContainer;
  background-color: $dark-color2;
  .paginationButton {
    background-color: $dark-color2;
  }
  .pageNumber,
  .ellipses {
    color: white;
  }
  svg {
    color: white;
  }
}
