@import '../currenciesTable.module.scss';
@import '../../../utils/variables.scss';
@import './../../../utils/mediaBreakpoints.scss';

@mixin td-components-style {
    td {
        @include th_td_styles;
        font-size: 1rem;
    }

    .coinPNG {
        width: 30px;
        height: 30px;
        margin-right: 3%;
    }

    .coinNameDiv {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .changePercentPositive {
        color: green;
    }

    .changePercentNegative {
        color: red;
    }

    .coinLink {
        text-decoration: none;
        color: black;
    }
}

.darkTbody {
    @include td-components-style;
    td {
        border-top: 1px solid lightgray;
    }
}

.lightTbody {
    @include td-components-style;
    td {
        border-top: 1px solid lightgray;
    }
}



@include largeDesktop {
    .lightTbody {
        tr:hover {
            background-color: lightgreen;
        }
    }
    .darkTbody {
        tr:hover {
            background-color: $dark-color2;
        }
    }
    .lightTbody, .darkTbody {
        .coinLink:hover {
            text-decoration: underline;
        }
    }
}


@include desktop {
    .lightTbody {
        tr:hover {
            background-color: lightgreen;
        }
    }
    .darkTbody {
        tr:hover {
            background-color: $dark-color2;
        }
    }
    .lightTbody, .darkTbody {
        .coinLink:hover {
            text-decoration: underline;
        }
    }
}

@include mobile {
    tbody {
        tr {
            td {
                &:nth-child(4), &:nth-child(5), &:nth-child(6), &:nth-child(7), &:nth-child(8) {
                display: none;
            }}
        }
    }
}

@include tablet {
    tbody {
        tr {
            td {
            &:nth-child(6) {
                display: none;
            }}
        }
    }
}