.lightTable {
  margin: 0 auto 2% auto;
  width: 90%;
  border-collapse: collapse;
  text-align: left;
  border-top-left-radius: 0.8%;
  border-top-right-radius: 0.8%;
  background-color: white;
}
@media (max-width: 576px) {
  .lightTable {
    width: 100%;
    margin: 0 auto;
  }
  .lightTable td, .lightTable th {
    margin: 0;
  }
  .lightTable th {
    font-size: 1rem;
  }
}
.lightTable header {
  position: sticky;
}
@media (max-width: 767px) and (min-width: 576px) {
  .lightTable {
    width: 100%;
  }
}

.darkTable {
  margin: 0 auto 2% auto;
  width: 90%;
  border-collapse: collapse;
  text-align: left;
  border-top-left-radius: 0.8%;
  border-top-right-radius: 0.8%;
  background-color: #0C1320;
  color: white;
}
@media (max-width: 576px) {
  .darkTable {
    width: 100%;
    margin: 0 auto;
  }
  .darkTable td, .darkTable th {
    margin: 0;
  }
  .darkTable th {
    font-size: 1rem;
  }
}
.darkTable header {
  position: sticky;
}
@media (max-width: 767px) and (min-width: 576px) {
  .darkTable {
    width: 100%;
  }
}

.darkTbody td {
  border-bottom: 1px solid lightgray;
  border-collapse: collapse;
  padding: 10px;
  font-size: 1rem;
}
@media (max-width: 576px) {
  .darkTbody td {
    width: 20vw;
  }
}
.darkTbody .coinPNG {
  width: 30px;
  height: 30px;
  margin-right: 3%;
}
.darkTbody .coinNameDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.darkTbody .changePercentPositive {
  color: green;
}
.darkTbody .changePercentNegative {
  color: red;
}
.darkTbody .coinLink {
  text-decoration: none;
}
.darkTbody td {
  border-top: 1px solid lightgray;
}
.darkTbody .coinLink {
  color: white;
}

.lightTbody td {
  border-bottom: 1px solid lightgray;
  border-collapse: collapse;
  padding: 10px;
  font-size: 1rem;
}
@media (max-width: 576px) {
  .lightTbody td {
    width: 20vw;
  }
}
.lightTbody .coinPNG {
  width: 30px;
  height: 30px;
  margin-right: 3%;
}
.lightTbody .coinNameDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.lightTbody .changePercentPositive {
  color: green;
}
.lightTbody .changePercentNegative {
  color: red;
}
.lightTbody .coinLink {
  text-decoration: none;
}
.lightTbody td {
  border-top: 1px solid lightgray;
}
.lightTbody .coinLink {
  color: black;
}

@media (min-width: 1200px) {
  .lightTbody tr:hover {
    background-color: lightgreen;
  }
  .darkTbody tr:hover {
    background-color: #112447;
  }
  .lightTbody .coinLink:hover, .darkTbody .coinLink:hover {
    text-decoration: underline;
  }
}
@media (max-width: 1200px) and (min-width: 1000px) {
  .lightTbody tr:hover {
    background-color: lightgreen;
  }
  .darkTbody tr:hover {
    background-color: #112447;
  }
  .lightTbody .coinLink:hover, .darkTbody .coinLink:hover {
    text-decoration: underline;
  }
}
@media (max-width: 576px) {
  tbody tr td:nth-child(4), tbody tr td:nth-child(5), tbody tr td:nth-child(6), tbody tr td:nth-child(7), tbody tr td:nth-child(8) {
    display: none;
  }
}
@media (max-width: 767px) and (min-width: 576px) {
  tbody tr td:nth-child(6) {
    display: none;
  }
}/*# sourceMappingURL=CurrenciesTableBody.module.css.map */