@import "../../utils/variables.scss";
@import "../../utils/mediaBreakpoints.scss";

@mixin coinPageContainer {
  justify-self: center;
  width: 80%;
  min-height: 100vh;
  max-height: max-content;
  display: grid;
  grid-template-columns: auto;
  grid-gap: 2%;
  margin: 0px auto;
  justify-content: center;
  box-sizing: border-box;
  grid-template-columns: 20% 80%;
  grid-template-rows: 100%;
}

.lightCoinPageContainer {
  @include coinPageContainer;
}

.darkCoinPageContainer {
  @include coinPageContainer;
}

@include desktop {
  .darkCoinPageContainer,
  .lightCoinPageContainer {
    grid-template-rows: auto auto;
    grid-template-columns: 100%;
    width: 100%;

    .priceChart {
      min-width: 95%;
      height: fit-content;
      margin: 0px auto;
      align-self: center;
      justify-self: center;
    }
  }
  .chartDiv {
    margin-bottom: 100px;
  }
}

@include laptop {
  .darkCoinPageContainer,
  .lightCoinPageContainer {
    grid-template-rows: auto auto;
    grid-template-columns: 100%;
    width: 100%;

    .priceChart {
      min-width: 95%;
      height: fit-content;
      margin: 0px auto;
      align-self: center;
      justify-self: center;
    }
  }
}

@include largeDesktop {
  .darkCoinPageContainer,
  .lightCoinPageContainer {
    grid-template-rows: auto auto;
    grid-template-columns: 100%;
    width: 89%;
  }

  .priceChart {
    min-width: 100%;
    height: fit-content;
    margin: 0px auto;
    align-self: center;
    justify-self: center;
  }
  .chartDiv {
    margin-bottom: 200px;
  }
}

@include tablet {
  .darkCoinPageContainer,
  .lightCoinPageContainer {
    grid-template-rows: auto auto;
    grid-template-columns: 100%;
    width: 100%;
  }
}

@include mobile {
  .darkCoinPageContainer,
  .lightCoinPageContainer {
    grid-template-rows: auto auto;
    grid-template-columns: 100%;
    width: 100%;

    .priceChart {
      min-width: 100%;
      height: fit-content;
      margin: 0px auto;
      align-self: center;
      justify-self: center;
    }
  }
}
