@import "../../../utils/variables.scss";
@import "../../../utils/mediaBreakpoints.scss";

.chartNavDiv {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: baseline;
  padding: 1%;

  p {
    padding: 1%;
    user-select: none;
  }
}

.header {
  white-space: nowrap;
  text-align: center;
  margin: 0;
}

.lightChartNav {
  p {
    border-radius: 50%;
    background-color: white;

    &:hover {
      background-color: $bg-gray-color;
    }
  }
  .header {
    color: black;
  }
}

#activeInterval {
  color: blue;
  font-weight: bolder;
  border: 1px solid blue;
}

.darkChartNav {
  p {
    border-radius: 50%;
    background-color: $dark-color2;
    color: white;

    &:hover {
      background-color: $dark-color1;
    }
  }
}

.header {
  color: white;
}

#activeInterval {
  color: rgb(0, 183, 255);
  border: 1px solid rgb(0, 183, 255);
  font-weight: bolder;
}

@include mobile {
  .chartNavDiv {
    justify-content: center;
  }
}
