@import '../../../utils/variables.scss';
@import '../../../utils/mediaBreakpoints.scss';

@mixin languageChanger {
    cursor: pointer;
    font-size: $defaultFont-size;
    width: max-content;
    font-weight: bold;
    border-radius: 0.66em;
    padding: 5px 15px;
    border: none;
    font-size: px;
    user-select: none;
    option {
        font-size: 22px;
        font-weight: bold;
        padding: 10px;
    }
}

.darkLanguageChanger {
    @include languageChanger;
    background-color: $dark-color1;
    color: $link-color;
}

.lightLanguageChanger {
    @include languageChanger;
    background-color: $bg-gray-color;
}

@include largeDesktop {
    .darkLanguageChanger {
        &:hover {
            background-color: #1e1f24;
            option {
                background-color: $dark-color1;
            }
        }
    }
    .darkLanguageChanger, .lightLanguageChanger {
        &:focus {
            outline: none;
        }
    }
}