@import "../../../utils/variables.scss";
@import "../../../utils/mediaBreakpoints.scss";

.darkChangerContainer,
.lightChangerContainer {
  width: 140px;
  height: 40px;
  cursor: pointer;
  background-color: $bg-gray-color;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  .content {
    z-index: 15;
  }
}

.darkSelect,
.lightSelect {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 140px;
  top: 43px;
  .option {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 3px 5px;
    font-size: 16px;
    border: none;
    font-weight: 600;
  }
  border-radius: 0 10px;
}

.darkLanguageChanger,
.darkChangerContainer,
.darkSelect > .option {
  background-color: $dark-color1;
  color: $link-color;
}

.lightLanguageChanger {
  background-color: $bg-gray-color;
}

@include largeDesktop {
  .darkLanguageChanger {
    &:hover {
      background-color: #1e1f24;
      option {
        background-color: $dark-color1;
      }
    }
  }
  .darkLanguageChanger,
  .lightLanguageChanger {
    &:focus {
      outline: none;
    }
  }
}

@include mobile {
  .darkChangerContainer,
  .lightChangerContainer {
    margin: 0px auto;
    .darkSelect,
    .lightSelect {
      position: absolute;
      top: 207px;
    }
  }
}
