@import '../currenciesTable.module.scss';
@import '../../../utils/variables.scss';
@import '../../../utils/mediaBreakpoints.scss';

th {
    @include th_td_styles;
    font-size: $defaultFont-size;

    p {
        display: inline-block;
        cursor: pointer;
        margin-right: 5%;
        &:hover {
            text-decoration: underline;
        }
    }

    .exclamationCircle {  
        vertical-align: middle;
    }
}




@include desktop {
    .lightThead {
        thead tr:hover {
            background-color: white;
        }
    }
    .darkThead {
        thead tr:hover {
            background-color: $dark-color1;
        }
    }
}

@include largeDesktop {
    .lightThead {
        thead tr:hover {
            background-color: white;
        }
    }
    .darkThead {
        thead tr:hover {
            background-color: $dark-color1;
        }
    }
}


@include tablet {
    thead {
        tr {
            th {
                &:nth-child(6) {
                    display: none;
                }
            }
        }
    }
}

@include mobile {
    thead {
        tr {
            th {
                text-wrap: nowrap;
                &:nth-child(1),
                &:nth-child(4),
                &:nth-child(5),
                &:nth-child(6),
                &:nth-child(7) {
                    display: none;
                }
            }
        }
        .exclamationCircle {
            display: none;
        }
    }
}