.lightHeaderContainer {
  width: 100%;
  margin: 0;
  padding: 0.5%;
  position: fixed;
  top: 0;
  display: grid;
  grid-gap: 2%;
  grid-template-columns: 50fr 3fr 1fr 5fr 1fr;
  background-color: white;
}
.lightHeaderContainer .headerName {
  display: inline-block;
  text-decoration: none;
  margin-left: 2%;
}
.lightHeaderContainer .headerName,
.lightHeaderContainer .themeChanger,
.lightHeaderContainer .updateBtn,
.lightHeaderContainer .menuOpener {
  cursor: pointer;
  font-size: 1.375rem;
  width: -moz-max-content;
  width: max-content;
  font-weight: bold;
}
.lightHeaderContainer .updateBtn {
  border-radius: 0.66em;
  padding: 5px 15px;
  border: none;
}
.lightHeaderContainer .menuOpener {
  display: contents;
}
.lightHeaderContainer .headerName {
  color: green;
}

.darkHeaderContainer {
  width: 100%;
  margin: 0;
  padding: 0.5%;
  position: fixed;
  top: 0;
  display: grid;
  grid-gap: 2%;
  grid-template-columns: 50fr 3fr 1fr 5fr 1fr;
  background-color: #0C1320;
  border-bottom: 1px solid gray;
}
.darkHeaderContainer .headerName {
  display: inline-block;
  text-decoration: none;
  margin-left: 2%;
}
.darkHeaderContainer .headerName,
.darkHeaderContainer .themeChanger,
.darkHeaderContainer .updateBtn,
.darkHeaderContainer .menuOpener {
  cursor: pointer;
  font-size: 1.375rem;
  width: -moz-max-content;
  width: max-content;
  font-weight: bold;
}
.darkHeaderContainer .updateBtn {
  border-radius: 0.66em;
  padding: 5px 15px;
  border: none;
}
.darkHeaderContainer .menuOpener {
  display: contents;
}
.darkHeaderContainer .headerName {
  color: #6188FF;
}
.darkHeaderContainer::after {
  position: absolute;
  width: 100%;
  height: calc(6% + 22px);
  background-color: #0C1320;
}
.darkHeaderContainer .updateBtn {
  background-color: transparent;
  color: #6188FF;
}

.marginCleaner {
  margin-bottom: 2%;
  padding-bottom: 2%;
}

@media (min-width: 1200px) {
  header .menuOpener {
    visibility: hidden;
  }
  .darkHeaderContainer .updateBtn:hover {
    background-color: #1e1f24;
  }
  .darkHeaderContainer .updateBtn:hover option {
    background-color: #0C1320;
  }
}
@media (max-width: 1200px) and (min-width: 1000px) {
  header .menuOpener {
    visibility: hidden;
  }
  header .darkHeaderContainer .updateBtn:hover {
    background-color: #1e1f24;
  }
  header .darkHeaderContainer .updateBtn:hover option {
    background-color: #0C1320;
  }
}
@media (max-width: 1000px) and (min-width: 767px) {
  header .menuOpener {
    visibility: hidden;
  }
}
@media (max-width: 767px) and (min-width: 576px) {
  header .menuOpener {
    visibility: hidden;
  }
}
@media (max-width: 576px) {
  header {
    position: fixed;
  }
  header > :not(.menuOpener) {
    display: none;
  }
  header .menuOpener {
    width: 100%;
    visibility: visible;
    position: fixed;
  }
  .lightHeaderContainer, .darkHeaderContainer {
    width: 100%;
    background-color: transparent;
    position: relative;
    display: flex;
    justify-content: space-between;
    border: none;
  }
}/*# sourceMappingURL=header.module.css.map */