$dark-color1: #0C1320;
$dark-color2: #112447;
$link-color: #6188FF;
$bg-gray-color: #F0F2F5;

$breakpoint-xxl: 1200px;
$breakpoint-xl: 1000px;
$breakpoint-md: 767px;
$breakpoint-sl: 576px;

$defaultFont-size: 1.125rem;