@import './utils/variables.scss';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.lightMain {
    background-color: $bg-gray-color;
    width: 100%;
}

.darkMain {
    background-color: $dark-color1;
    width: 100%;
}